<form class="animon chat">
    <div class="roll-dialogue">
        <div class="roll-dialogue-child">
            <label>{{localize "animon.chat.statCheck.boostsetback"}}:</label>
            <select name="type">
                <option value="6">{{localize "animon.chat.statCheck.dSetback"}}</option>
                <option value="5">{{localize "animon.chat.statCheck.setback"}}</option>
                <option value="4" selected>{{localize "animon.chat.statCheck.none"}}</option>
                <option value="3">{{localize "animon.chat.statCheck.boost"}}</option>
                <option value="2">{{localize "animon.chat.statCheck.dBoost"}}</option>
            </select>
        </div>

        <div class="roll-dialogue-child">
            <label>{{localize "animon.chat.statCheck.extraDice"}}:</label>
            <select name="extra" id="">
                <option value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
    </div>
</form>