<form class="{{cssClass}}" autocomplete="off">
    <div class="talent-item">
        <div class="talent-border">
            <div class="qinput q-border">
                <h4>{{localize "animon.child.talent"}}:</h4>
                <input type="text" name="name" value="{{item.name}}">
            </div>
            <div class="tinput t-border">
                <h4>{{localize "animon.animon.rank"}}:</h4>
                <input type="number" name="system.rank" value="{{item.system.rank}}">
            </div>
        </div>
    </div>

</form>